.ui.attached.top.menu
  .item=display resource
  .ui.menu.right
    = show_action :back, :edit
.ui.attached.segment
  - columns = default_item_names resource
  .ui.three.column.grid
    - columns.each do |column|
      .column
        .panel
          = items resource, *column, class: "dl-horizontal"