- status = asset.respond_to?(:status) ? asset.status : nil 
%tr{class: [options[:cycle] && cycle(*options[:cycle]), status]}
  - grid.html_columns(*options[:columns]).each do |column|
    - clazz = [datagrid_column_classes(grid, column), datagrid_format_value(grid, column, asset).to_s == "0" ? :zero : nil] rescue nil
    %td{class: clazz}
      - begin
        = human_value datagrid_format_value(grid, column, asset)
      - rescue
        .hidden= $ERROR_INFO.message