- content_for :content do
  .row.wrapper.border-bottom.white-bg.page-heading
    .col-lg-12
      %h2
        = title params[:id] ? display(resource) : resource_class.model_name.human
      %ol.breadcrumb
        %li=link_to "Dashboard", QuickAdmin.root_path
        - if self.respond_to?(:parent?) && parent? 
          %li=parent.class.model_name.human(count: 2)
          %li=link_model parent
        - if params[:id]
          %li=link_to resource_class.model_name.human(count: 2), action: :index
          %li.active=display(resource)
        - else
          %li.active=resource_class.model_name.human(count: 2)
  = yield
= render template: QuickAdmin.parent_layout